#TopAndContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    height: 75%;
    margin: 0%;
    border-radius: 10px;
    background-color: snow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5%;
    
}

#HeroImage {
    border-top-left-radius: 7%; 
    border-top-right-radius: 7%;
}